@import "components/Client";
@import "components/Drag";

/* fullscreen setup */

html, body, #root, .fullscreen {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* end fullscreen setup */
