@import "~bootstrap/scss/bootstrap";

.cameraflex {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  
  background-color: black;
}

/* bottomBar styling */
.bottomBar {
  border-top: 1px solid white;
  padding-top: 10px;
}

.clientSelector {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

.leftBt {
  margin-right: 10px;
}

.rightBt {
  margin-left:  10px;
}

.bt {
  /*width: 24px;
  height: 24px;*/
}

/* ActionDiv Styling */

.actionDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1vh;
}

.actionDiv > * {
  width: 100%;
  display: flex;
  justify-content: center;
}

.flip {
  height: 4vh;
  object-fit: cover;
  filter: invert(100%);
}

.send img {
  object-fit: cover;
  height: 5vh;
}

/* end bottomBar styling */

