@import "~bootstrap/scss/bootstrap";
@import 'status-indicator';

.max-width {
  display:flex;
  justify-content: center;

}

.max-width > * {
  width: 100%;
  /*@extend .border-secondary;
  border-left: 1px solid;
  border-right: 1px solid;*/
}

$break-point: 1000px;
@media (min-width: $break-point) {
  .max-width > * {
    width: $break-point;
  }
}

.client {
  padding-left: 12%;
  padding-right: 12%;
  padding-top: 2%;
  padding-bottom: 5%;
}

.qr {
  display: flex;
  justify-content: center;
  margin: 3px;
}
.qr > img {
  width: 116px;
  image-rendering: pixelated;
}

.id {
  margin: 10px;
}

.progressDiv {
  margin: 10px;
}

// Dropper Display

$radius: 10px;
.fileDrop {
  border-radius: $radius;
  padding: 10px;
  width: 400px;
}

.fileDrop * {
  transition: background-color 0.15s;
  transition-timing-function: ease-out;
  background-color: white;
}

.fileBorder {
  border-style: dotted;
  border-color: black;
  border-radius: $radius;
  padding: 10px;
}

$hover-color: #bdebff;
.hover * {
  background-color: $hover-color;
}

.attachContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.attachContainer > * {
  margin: 0px 5px;
}

.textContainer {
  width: 100%;
}

.textContainer > * {
  display: flex;
  justify-content: center;
  align-items: center;
}

#fileLabel {
  border: 1px solid;
  margin: 0;
  padding: 3px 5px;
  cursor: pointer;
}

#fileElem {
  display: none;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

