@import "~bootstrap/scss/bootstrap";
@import 'status-indicator';

html, body, #root, #reactapp {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}


#client {
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 5%;
  padding-bottom: 5%;
}

#qr {
  display: flex;
  justify-content: center;
  margin: 3px;
}

.fileDrop {
  border-style: dotted;
  border-color: black;
  border-radius: 10px;
  padding: 10px;
}

#fileElem {
  display: none;
}
